.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  color: var(--text);
  padding: 0;
  margin: 0;
}

.bottom-nav-bar a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav-bar a img {
  width: 4vh;
  height: 4vh;
}

.bottom-nav-bar a:hover {
  color: var(--text);
}