:root {
    --text: #fefcfb;
    --background: #282828;
    --primary: #097969;
    --secondary: #095179;
    --accent: #097931;
    --whitesmoke: #F5F5F5;
    --red: #cc0000;
    --gray: #333;

  font-family: Inter, sans-serif;
  color: var(--text);
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
}