:root {
    font-size: 16px;
    background-color: #272727;

    --background-primary: #272727;
    --background-secondary: #3D3D3D;
    --text-primary: #A9A9A9;
    --text-primary-hover: #F7F7F7;
    --unselected-text: #555555;
    --main-border: #404040;
    --main-button: #3E3E3E;
    --main-button-hover: #4A4A4A;
    --main-button-activated: #696969;
    --main-button-text: #C5C5C5;
    --main-button-activated-text: #FFF3F3;
    --main-secondary-button-text: #272030;
    --secondary-button: #525252;
    --green: #4CAF50;
    --red: #FF5252;
    --orange: #FF9800;
    --yellow: #FFEB3B;

    body {
        margin: 0;
        padding: 0;
        height: 464px;
        width: 472px;
        outline: 10px solid deeppink;
        overflow: hidden;
        font-family: 'Afacad', sans-serif;
        background-color: var(--background-primary);
        color: var(--text-primary);
    }
}